extends layout

block content
    header
        h1.heading_supersize James Sonntag
        h2.welcome_text Design &raquo Architect &raquo Develop
        center
            h5(style="margin-bottom:0")
                a(href='https://www.facebook.com/james.sonntag.75', title='facebook', style="margin-right:15px;").light <i class="icon-facebook-sign"></i> Facebook
                
                a(href='http://www.linkedin.com/in/jsonntag/', title='linkedin', style="margin-right:15px").light <i class="icon-linkedin-sign"></i> Linkedin
                
                a(href='https://github.com/Gabrinthei', title='github').light <i class="icon-github-alt"></i> Github


    section.section_light
        .row
            .large-8.columns
                h3.light 
                    i.icon-rocket.icon
                    span A little about me...
                p Thanks for visiting my personal site here at <a href='http://www.jamess.me'>JamesS.me</a>. Whether it be for business or pleasure, I hope you find everything you were looking for.
                p As you can probably tell, my name is James Sonntag. I recently graduated from Montana State University with a Bachelors of Science in Computer Science, and have since been in the industry.
                p If you've visited my site before, you probably noticed a big difference. Over the year I've been acquiring a particular set of skills. Skills that made me a much better web developer (a little Taken reference there), and thusly I figured it was about time to do a little updating.
                p Part of the update involved a personal blog, where I'll *ahem* <em>attempt</em> to keep it updated with life adventures, general thoughts, and interesting developing ideas/tips that I don't want to forget.
                p My main interests involve programming, exploring Artificial Intelligence and Data Analysis, playing video games, and of course enjoying the lovely outdoors of Montana.
            .large-4.columns
                h3.light
                    i.icon-desktop.icon
                    span Work History
                    span.dropcap_black.lsf-icon-dropcap(title='pc')
                p Ambitious and full of aspiration, I started working part-time, during college, as a web software developer (or "Webmaster Guru", which was my "official" title they had given me) for a startup company.
                p A few months after graduating, I acquired a position with TRG, an international surety agency, where I am currently a software developer / systems administrator.
